# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# React dependencies
react/node_modules/
react/.pnp
react/.pnp.js

# React testing
react/coverage

# React production
react/build

# React misc
react/.DS_Store
react/.env.local
react/.env.development.local
react/.env.test.local
react/.env.production.local

# npm/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / Django backend