.homePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  gap: 10px;
}
.homeTitle {
  font-family: proxima-nova, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}
.homeDetails {
  font-family: proxima-nova, sans-serif;
  margin-top: 0px;
  margin-bottom: 10px;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
