.homePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #111111;
}
.homeContainer {
  border: 1px solid #444444;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #222222;
  box-shadow: red 0px 0px 15px;
}
.homeTitle {
  color: white;
  margin-bottom: 0px;
  font-family: proxima-nova, sans-serif;
}
.homeDetails {
  color: white;
  font-family: proxima-nova, sans-serif;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
