.homePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeTitle {
  color: white;
  margin-bottom: 0px;
}
.homeDetails {
  color: white;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
