.resultPage {
  background-color: blueviolet;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.resultHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.resultTitle {
  color: white;
  margin-bottom: 0px;
}
.resultMessage {
  color: white;
  margin-bottom: 10px;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.resultContainer {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.resultDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 5px;
  padding: 10px;
}
.resultDetailsText {
  text-align: center;
  margin: 0px;
}
