.primaryButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-width: 0px;
  padding: 15px 0px;
  border-radius: 100px;
  transition: all 0.15s ease-in-out;
}
.primaryButton:hover {
  cursor: pointer;
  opacity: 0.75;
}
.primaryButton:active {
  transform: scale(0.95);
}
.buttonText {
  text-align: center;
  font-weight: bold;
}
