.primaryButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  border-color: #ffffff;
  border-width: 1px;
  min-height: 50px;
  min-width: 250px;
  border-radius: 100px;
  transition: all 0.15s ease-in-out;
}
.primaryButton:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #ffffff;
}
.primaryButton:hover .buttonText {
  color: #111111;
}
.primaryButton:active {
  transform: scale(0.95);
}
.buttonText {
  text-align: center;
  color: white;
  font-weight: bold;
  transition: color 0.15s ease-in-out;
}
