.resultPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}
.resultHeader {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
}
.resultTitle {
  margin: 0px;
}
.resultMessage {
  margin: 0px;
}
.buttonContainer {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.resultContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.resultDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 5px;
  padding: 10px 0px;
}
.resultDetailsText {
  text-align: center;
  margin: 0px;
}
