.filterButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 90px;
  border: 0px;
  transition: all 0.1s ease-in-out;
}
.filterButton:hover {
  cursor: pointer;
}
.filterButtonText {
  flex: 1;
  text-align: center;
  font-weight: bold;
}
